

header{
    nav{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        #container {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            #faq-link{
                font-size: .8rem;
                color: black;
                text-decoration: underline;
                text-decoration-color: var(--purple);
                text-underline-offset: 4px;
                &:visited{
                    color: black;
                }
            }
            button {
                display: flex;
                flex-direction: row;
                height: 30px;
                min-width: 50%;
                background-color: white;
                justify-content: space-between;
                align-items: center;
                border-radius: 15px;
                padding: 10px;
                color: var(--purple);
                border: 1px solid var(--purple); 
                transition: .2s ease; 
                img{
                    padding: 5px;
                }
                &:hover{
                    background-color: var(--purple);
                    color: white; 
                }
            }
        }
    }
}