header {
  nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #container {
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      #faq-link {
        font-size: var(--font-size-sm);
        color: black;

        border-radius: 5px;
        padding: 5px;
        transition: background-size 0.2s ease;
        text-decoration: underline;
        text-decoration-color: var(--color-purple);
        text-underline-offset: 4px;
        &:hover {
          text-decoration: none;
          color: var(--color-purple);
        }
      }
      button {
        display: flex;
        flex-direction: row;
        height: 30px;
        max-width: 50%;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        border-radius: 15px;
        font-size: var(--font-size-xsm);
        padding: 10px;
        color: var(--color-purple);
        border: 1px solid var(--color-light-green);
        transition: 0.2s ease;
        img {
          padding: 5px;
        }
        &:hover {
          border: 1px solid var(--color-purple);
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      #container {
        #faq-link {
          font-size: var(--font-size-2xsm);
        }
        button {
          font-size: var(--font-size-2xsm);
        }
      }
    }
  }
}
