* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
}
button {
  cursor: pointer;
}
:root {
  --sans-serif: "Open Sans", sans-serif;
  --serif: "Playfair Display", serif;

  --color-purple: #7867d4;
  --color-light-gray: #f0f0f0;
  --color-darker-gray: #e0e0e0;
  --color-light-green: #dde5db;

  --font-size-2xsm: 0.5rem;
  --font-size-xsm: 0.65rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 4rem;
  --font-size-6xl: 4.5rem;
}
