* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    font-family: sans-serif; 
    list-style-type: none;
}
button{
    cursor: pointer;
}
:root {
    --sans-serif: 'Open Sans', sans-serif; 
    --serif: 'Playfair Display', serif; 

    --purple: #7867d4; 
}