#hero-container {
  background-image: url("../../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  color: white;
  padding: 10%;

  h1,
  h2 {
    font-family: var(--serif);
    font-size: var(--font-size-6xl);
    font-weight: 300;
  }
  p {
    font-family: var(--sans-serif);
  }
  #searchbar-container {
    display: flex;
    flex-direction: column;
    position: relative;
    #searchbar {
      margin-top: 3%;
      display: flex;
      flex: row;
      max-width: 30%;
      #icon-container {
        border-radius: 3px 0px 0px 3px;
        padding: 20px;
        background-color: white;
      }
      input {
        font-family: var(--sans-serif);
        font-size: var(--font-size-sm);
        padding: 20px;
        border: none;
      }
      button {
        font-family: var(--sans-serif);
        font-size: var(--font-size-sm);
        padding: 20px;
        border: none;
        border-radius: 0px 3px 3px 0px;
        background-color: var(--color-purple);
        color: white;
      }
    }
    #result-container {
      position: absolute;
      top: 140px;
      display: flex;
      flex-direction: row;
      background-color: white;
      font-family: var(--sans-serif);
      a {
        background-color: white;
        color: black;
        border-radius: 1px;
        padding: 20px;
        text-decoration: none;
        &:hover {
          background-color: var(--color-light-gray);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero-container {
    padding: 5%;
    h1,
    h2 {
      font-size: var(--font-size-2xl);
    }
    p {
      font-size: var(--font-size-xsm);
    }

    #searchbar-container {
      #searchbar {
        #icon-container {
          padding: 1.5px;
          height: 50%;
        }
        input {
          font-family: var(--sans-serif);
          font-size: var(--font-size-xsm);
          padding: 10px;
          height: 50%;
        }
        button {
          font-size: 0.6rem;
          height: 50%;
          padding: 10px;
        }
      }
      #result-container {
        background-color: transparent;
        color: black;
        padding: 0px;
        flex-direction: row;
        max-width: 300px;
        left: 0px;
        top: 70px;
        gap: 5px;
        &:hover {
          background-color: var(--color-light-gray);
          cursor: pointer;
        }
        a {
          padding: 5px;
        }
      }
    }
  }
}
