#hero-container {
  background-image: url("../../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  color: white;
  padding: 10%;

  h1,
  h2 {
    font-family: var(--serif);
    font-size: 4.2rem;
    font-weight: 300;
  }
  p {
    font-family: var(--sans-serif);
  }
  #searchbar-container {
    display: flex;
    flex-direction: column;
    #searchbar {
      margin-top: 3%;
      display: flex;
      flex: row;
      max-width: 30%;
      #icon-container {
        border-radius: 3px 0px 0px 3px;
        padding: 20px;
        background-color: white;
      }
      input {
        font-family: var(--sans-serif);
        font-size: 0.9rem;
        padding: 20px;
        border: none;
      }
      button {
        font-family: var(--sans-serif);
        font-size: 0.9rem;
        padding: 20px;
        border: none;
        border-radius: 0px 3px 3px 0px;
        background-color: var(--color-purple);
        color: white;
      }
    }
    #result-container {
      background-color: white;
      color: black;
      padding: 20px;
      &:hover {
        background-color: var(--color-light-gray);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  #hero-container {
    padding: 5%;
    h1,
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.5rem;
    }

    #searchbar-container {
      #searchbar {
        #icon-container {
          padding: 10px;
        }
        input {
          font-family: var(--sans-serif);
          font-size: 0.6rem;
          padding: 10px;
        }
        button {
          font-size: 0.6rem;
          padding: 10px;
        }
      }
      #result-container {
        background-color: white;
        color: black;
        padding: 10px;

        &:hover {
          background-color: var(--color-light-gray);
          cursor: pointer;
        }
      }
    }
  }
}
